<div class="flexOuterCenter">
  <a href="/about"><span class="linky">about</span></a>
  <a href="/contact"><span class="linky">contact</span></a>
  <a href="/file-upload"><span class="linky">file upload</span></a>
</div>
