<div class="flexOuterCenter">
  <div class="flexOuterCol">
    <form name='contactus' action='/process?form=contactus' method='POST'>
      <input type='hidden' name="_csrf" value="{{csrf}}"/>
      <input type='text' name='first_name' value='first name'/><br/>
      <input type='text' name='last_name' value='last name'/><br/>
      <input type='text' name='email' value='email'/><br/>
      <input type='text' name='ques' value='question'/><br/>
      <input type='submit' value='go'/>
    </form>
  </div>
</div>
<script src="javascripts/clear_inputs.js"></script>
