<form name="upload" action="/file-upload/{year}/{month}" enctype="multipart/form-data" method="POST">
  <input type="text" name="email"/>
  <input type="text" name="title"/>
  <input type="file" required accept="image/*" name="photo"/>
  <input type="submit" value="upload"/>
</form>
